name: Aternos Auto Controller
on:
  schedule:
    - cron: '*/30 * * * *' # Chạy mỗi 30 phút để kiểm tra server
  workflow_dispatch: # Cho phép nhấn nút chạy thủ công

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install playwright requests
          playwright install chromium
      - name: Run Bot with Secrets
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }} # Truyền secret vào biến môi trường
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: python aternos_manager.py
